<ion-content style="--background: black" [fullscreen]="true">
  <ion-grid style="color: white;">
    <ion-row style="margin-top: 0px">
      <ion-col>
        <div>
          <div class="heading">
            <span style="color: white; font-family: nova flat"
              >Fit<span style="color: #ff7008">Forma</span></span
            >
          </div>
        </div>
      </ion-col>

      <ion-col>
        <div style="text-align: right; padding: 20px; font-size: 30px">
          <ion-icon routerLink="/tabs/tab1" name="home-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: -20px">
      <ion-col>
          <div style="margin-top: 10px;" class="heading">
            <span style="color: white; font-family: nova flat; margin-top: 10px;"
              >Achievements</span
            >
          </div>

      </ion-col>

      <ion-col>
        <div style="text-align: right; padding: 20px">
          <img style="height: 55px; width: 55px" src="assets/img/t2.png" />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid style="padding: 30px; margin-top: -50px; color: white;">
    <ion-row
      style="
        border: 1px solid;
        padding: 10px 20px 10px 20px;
        border-radius: 16px;
      "
    >
      <ion-col size="8">
        <div>
          <span style="font-size: 18px; margin-left: 20px">Push-Ups </span>
        </div>
      </ion-col>
      <ion-col size="4">
        <div><span style="font-size: 18px; margin-left: 20px">1</span></div>
      </ion-col>
    </ion-row>
    <ion-row
      style="
        border: 1px solid;
        padding: 10px 20px 10px 20px;
        border-radius: 16px;
      "
    >
      <ion-col size="8">
        <div>
          <span style="font-size: 18px; margin-left: 20px">Pull-Ups </span>
        </div>
      </ion-col>
      <ion-col size="4">
        <div><span style="font-size: 18px; margin-left: 20px">1</span></div>
      </ion-col>
    </ion-row>
    <ion-row
      style="
        border: 1px solid;
        padding: 10px 20px 10px 20px;
        border-radius: 16px;
      "
    >
      <ion-col size="8">
        <div>
          <span style="font-size: 18px; margin-left: 20px">Squarts</span>
        </div>
      </ion-col>
      <ion-col size="4">
        <div><span style="font-size: 18px; margin-left: 20px">1</span></div>
      </ion-col>
    </ion-row>
    <ion-row
      style="
        border: 1px solid;
        padding: 10px 20px 10px 20px;
        border-radius: 16px;
      "
    >
      <ion-col size="8">
        <div>
          <span style="font-size: 18px; margin-left: 20px">Bicep Curls</span>
        </div>
      </ion-col>
      <ion-col size="4">
        <div><span style="font-size: 18px; margin-left: 20px">1</span></div>
      </ion-col>
    </ion-row>
    <ion-row
      style="
        border: 1px solid;
        padding: 10px 20px 10px 20px;
        border-radius: 16px;
      "
    >
      <ion-col size="8">
        <div>
          <span style="font-size: 18px; margin-left: 20px">Bench Press</span>
        </div>
      </ion-col>
      <ion-col size="4">
        <div><span style="font-size: 18px; margin-left: 20px">1</span></div>
      </ion-col>
    </ion-row>
    <ion-row
      style="
        border: 1px solid;
        padding: 10px 20px 10px 20px;
        border-radius: 16px;
      "
    >
      <ion-col size="8">
        <div>
          <span style="font-size: 18px; margin-left: 20px">Crunches</span>
        </div>
      </ion-col>
      <ion-col size="4">
        <div><span style="font-size: 18px; margin-left: 20px">1</span></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
