<ion-tabs style="--background: black">
  <ion-tab-bar style="--background: black; border: 1px solid white; " slot="bottom">
    <ion-tab-button style="--background: color;" tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>

<!-- 
      <ion-tab-button tab="posts" href="/posts">
        <ion-icon name="copy-outline"></ion-icon>
      </ion-tab-button> -->

    <ion-tab-button style="--background: color;" tab="tab2" href="/tabs/tab2">
      <img
        src="assets/img/assist.png"
        style="height: 35px; width: 35px; border-radius: 50%"
      />
    </ion-tab-button>

    <ion-tab-button style="--background: color;" tab="tab3" href="/tabs/tab3">
      <!-- <img
      src="assets/img/images.jpg"
      style="height: 35px; width: 35px; border-radius: 50%"
    /> -->

    <ion-icon style="font-size: 40px;" name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
