<ion-row style="margin-top: 0px; background-color: black">
  <ion-col>
    <div>
      <div class="heading">
        <span style="color: white; font-family: nova flat"
          >Fit<span style="color: #ff7008">Forma</span></span
        >
      </div>
    </div>
  </ion-col>

  <ion-col>
    <div style="text-align: right; padding: 20px; font-size: 30px">
      <ion-icon
        style="color: white"
        routerLink="/tabs/tab1"
        name="home-outline"
      ></ion-icon>
    </div>
  </ion-col>
</ion-row>

<ion-content style="--background: black; bottom: 0">
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center">
        <div>
          <circle-progress
            [percent]="finalBC"
            [radius]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C009'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center">
        <div>
          <circle-progress
            [percent]="finalIC"
            [radius]="65"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C009'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
        </div>
      </ion-col>
      <ion-col style="text-align: center">
        <div>
          <circle-progress
            [percent]="finalAC"
            [radius]="65"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 20px; text-align: center">
      <ion-col>
        <h4 style="color: white; font-weight: bold;" id="progress">Your overall progress</h4>
        <ion-progress-bar  color="tertiary" [value]="completeValue/100"></ion-progress-bar>
        <ion-label
          style="
            text-align: center;
            margin-top: 8px;
            font-size: 18px;
            color: #925EFF;
          "
          class="progress-label"
          >{{ completeValue }}% Progress</ion-label
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="text-align: center">
    <ion-button
      style="
        color: black;
        --background: #6aff70;
        margin-top: 110px;
        width: 350px;
        font-weight: bold;
      "
      id="open-custom-dialog"

      >Show progress in details</ion-button
    >

    <ion-button

      (click)="schedule()"
      style="
        color: black;
        --background: #6aff70;
        margin-top: 10px;
        width: 350px;

        font-weight: bold;
      "
      >Schedule
    </ion-button>
  </div>

  <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
    <ng-template>
      <div style="overflow: scroll" class="wrapper">
        <div>
          <h1>Workout done by you</h1>
        </div>

        <ion-list style="color: black">
          <ion-item *ngFor="let item of myTillWorkOut">
            <ion-label style="color: black"> {{item.title}} </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>

<!-- <ion-content>
  <div style="overflow: scroll; background-color: black; color: white">
    <ion-list style="--background: black">
      <ion-item
        style="--background: black; color: white"
        *ngFor="let data of filteredLevels; let i = index"
      >
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <div>
                <ion-checkbox
                  [(ngModel)]="data.checked"
                  (ionChange)="updateSelectedValues(data)"
                ></ion-checkbox>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-label style="color: white">
                  <h3 style="color: white">Title - {{data.title}}</h3>
                  <p style="color: white; text-wrap: wrap">
                    Description - {{data.description}}
                  </p>
                  <p style="color: white">{{data.level}}</p>
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
    </ion-list>
  </div>


  <ion-list style="color: black;">
    <h2 style="padding: 10px;">Workout done by you</h2>
    <ion-item *ngFor="let item of myTillWorkOut">
      <ion-label style="color: black;"> {{item.title}} </ion-label>

    </ion-item>
  </ion-list>
</ion-content> -->

<!-- <ion-footer style="text-align: center; background: black">
  <ion-button
    (click)="schedule()"
    style="
      color: black;
      --background: #6aff70;
      margin-top: 10px;
      width: auto;
      margin-bottom: 20px;
      font-weight: bold;
    "
    >Schedule
  </ion-button>
</ion-footer> -->
