<ion-content style="--background: black" [fullscreen]="true">
  <div class="heading">
    <span style="color: white; font-family: nova flat"
      >Fit<span style="color: #ff7008">Forma</span></span
    >
  </div>

  <div class="fit_img">
    <img
      style="width: 100%; padding: 20px; height: 100%; object-fit: cover"
      src="assets/img/01.png"
    />
  </div>

  <div class="content">
    <span style="font-size: 25px; color: #08ffc4; font-family: BenchNine">
      Welcome to FitForma
    </span>

    <p style="font-family: BenchNine; color: white">
      where every rep tells a story, and every workout is a step towards your
      best self!
    </p>

    <ion-button
      routerLink="/onboarding"
      style="color: white; --background: rgba(146, 94, 255, 0.49); width: 180px"
      >Continue
    </ion-button>
  </div>
</ion-content>
