<!-- <ion-content style="--background: black" [fullscreen]="true">


  <ion-row style="margin-top: -20px">
    <ion-col>
      <div style="margin-top: 10px" class="heading">
        <span style="color: white; font-family: nova flat; margin-top: 10px"
          >Credits</span
        >
      </div>
    </ion-col>

    <ion-col>
      <div style="text-align: right; padding: 20px">
        <img style="height: 55px; width: 60px" src="assets/img/c3.png" />
      </div>
    </ion-col>
  </ion-row>

  <div style="margin-top: -30px" style="text-align: center">
    <img style="height: 100px; width: 120px" src="assets/img/c2.png" />
  </div>
  <ion-grid style="padding: 30px; margin-top: -50px">
    <ion-row
      style="
        border: 4px solid;
        padding: 10px 20px 10px 20px;
        border-radius: 16px;
      "
    >
      <ion-col style="text-align: center" size="12">
        <div>
          <span
            style="
              font-size: 18px;
              margin-left: 20px;
              font-weight: bold;
              color: #ffff6a;
            "
            >Your Credits
          </span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row
      style="
        border: 1px solid;
        padding: 10px 20px 10px 20px;
        border-radius: 16px;
      "
    >
      <ion-col size="8">
        <div>
          <span style="font-size: 18px; margin-left: 20px">Today</span>
        </div>
      </ion-col>
      <ion-col size="4">
        <div><span style="font-size: 18px; margin-left: 20px">40</span></div>
      </ion-col>
    </ion-row>
    <ion-row
      style="
        border: 1px solid;
        padding: 10px 20px 10px 20px;
        border-radius: 16px;
      "
    >
      <ion-col size="8">
        <div>
          <span style="font-size: 18px; margin-left: 20px">This Week</span>
        </div>
      </ion-col>
      <ion-col size="4">
        <div><span style="font-size: 18px; margin-left: 20px">150</span></div>
      </ion-col>
    </ion-row>
    <ion-row
      style="
        border: 4px solid;
        padding: 10px 20px 10px 20px;
        border-radius: 16px;
      "
    >
      <ion-col style="text-align: center" size="12">
        <div>
          <span
            style="
              font-size: 18px;
              margin-left: 20px;
              font-weight: bold;
              color: #925EFF;
            "
            >Weekly Leaderboard
          </span>
        </div>
      </ion-col>
    </ion-row>




<ion-row
style="
  border: 1px solid;
  padding: 10px 20px 10px 20px;
  border-radius: 16px;
  text-align: center;
"
>

<ion-col size="2">
<div>
  <span style="font-size: 16px; ">1st </span>
</div>
</ion-col>
<ion-col size="6">
  <div>
    <span style="font-size: 16px;">Ashu</span>
  </div>
</ion-col>
<ion-col size="4">
  <div><span style="font-size: 16px;">150 Points</span></div>
</ion-col>
</ion-row>

<ion-row
style="
  border: 1px solid;
  padding: 10px 20px 10px 20px;
  border-radius: 16px;
  text-align: center;
"
>

<ion-col size="2">
<div>
  <span style="font-size: 16px; ">2nd </span>
</div>
</ion-col>
<ion-col size="6">
  <div>
    <span style="font-size: 16px;">Shiv</span>
  </div>
</ion-col>
<ion-col size="4">
  <div><span style="font-size: 16px;">150 Points</span></div>
</ion-col>
</ion-row>

<ion-row
style="
  border: 1px solid;
  padding: 10px 20px 10px 20px;
  border-radius: 16px;
  text-align: center;
"
>

<ion-col size="2">
<div>
  <span style="font-size: 16px; ">3rd </span>
</div>
</ion-col>
<ion-col size="6">
  <div>
    <span style="font-size: 16px;">You</span>
  </div>
</ion-col>
<ion-col size="4">
  <div><span style="font-size: 16px;">150 Points</span></div>
</ion-col>
</ion-row>

  </ion-grid>
</ion-content> -->

<ion-content style="--background: black; overflow: auto" [fullscreen]="true">
  <body style="overflow: auto">
    <ion-row style="margin-top: 0px">
      <ion-col>
        <div>
          <div class="heading">
            <span style="color: white; font-family: nova flat"
              >Fit<span style="color: #ff7008">Forma</span></span
            >
          </div>
        </div>
      </ion-col>

      <ion-col>
        <div style="text-align: right; padding: 20px; font-size: 30px">
          <ion-icon
            style="color: white"
            routerLink="/tabs/tab1"
            name="home-outline"
          ></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: -20px">
      <ion-col>
        <div style="margin-top: 10px" class="heading">
          <span style="color: white; font-family: nova flat; margin-top: 10px"
            >Credits</span
          >
        </div>
      </ion-col>

      <ion-col>
        <div style="text-align: right; padding: 20px">
          <img style="height: 55px; width: 60px" src="assets/img/c3.png" />
        </div>
      </ion-col>
    </ion-row>

    <div style="margin-top: -30px" style="text-align: center">
      <img style="height: 120px; width: 120px" src="assets/img/coin.gif" />
    </div>

    <ion-row
      style="
        border: 4px solid;
        padding: 10px 20px 10px 20px;
        border-radius: 16px;
      "
    >
      <ion-col style="text-align: center" size="12">
        <div>
          <span
            style="
              font-size: 18px;
              margin-left: 20px;
              font-weight: bold;
              color: #ffff6a;
            "
            >Your Credits
          </span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row
      style="
        color: white;
        border: 1px solid;
        padding: 10px 20px 10px 20px;
        border-radius: 16px;
      "
    >
      <ion-col size="8">
        <div>
          <span style="font-size: 18px; margin-left: 20px">Today</span>
        </div>
      </ion-col>
      <ion-col size="4">
        <div><span style="font-size: 18px; margin-left: 20px">40</span></div>
      </ion-col>
    </ion-row>
    <ion-row
      style="
      color: white;
        border: 1px solid;
        padding: 10px 20px 10px 20px;
        border-radius: 16px;
      "
    >
      <ion-col size="8">
        <div>
          <span style="font-size: 18px; margin-left: 20px">This Week</span>
        </div>
      </ion-col>
      <ion-col size="4">
        <div><span style="font-size: 18px; margin-left: 20px">150</span></div>
      </ion-col>
    </ion-row>

    <div class="Card-Container">
      <div class="Result-DES">
        <div class="Summary">
          <h3 style="color: #925eff" class="Sum-Top">Weekly Leaderboard</h3>
          <div style="color: black; margin-top: 30px" class="Reaction">
            <ion-grid style="margin-top: -19px">
              <ion-row>
                <ion-col>1st</ion-col>
                <ion-col>Ashu</ion-col>
                <ion-col>120 Points</ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div style="color: black; margin-top: 30px" class="Reaction">
            <ion-grid style="margin-top: -19px">
              <ion-row>
                <ion-col>1st</ion-col>
                <ion-col>Ashu</ion-col>
                <ion-col>120 Points</ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <div style="color: black; margin-top: 30px" class="Reaction">
            <ion-grid style="margin-top: -19px">
              <ion-row>
                <ion-col>1st</ion-col>
                <ion-col>Ashu</ion-col>
                <ion-col>120 Points</ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <div style="color: black; margin-top: 30px" class="Reaction">
            <ion-grid style="margin-top: -19px">
              <ion-row>
                <ion-col>1st</ion-col>
                <ion-col>Ashu</ion-col>
                <ion-col>120 Points</ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>

        <div class="Continue-BTN">
          <p class="Continue">Continue</p>
        </div>
      </div>
    </div>
  </body>
</ion-content>
