<ion-content style="--background: black" [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <div class="heading">
            <span style="color: white; font-family: nova flat"
              >Fit<span style="color: #ff7008">Forma</span></span
            >
          </div>
        </div>
      </ion-col>

      <ion-col>
        <div style="text-align: right; padding: 20px; font-size: 30px">
          <ion-icon name="mail-open-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div>
    <ion-card>
      <ion-grid>
        <ion-row style="margin-top: 10px">
          <ion-col>
            <div style="text-align: center">
              <img
                style="height: 80px; width: 80px; border-radius: 50%"
                src="assets/img/001.png"
              />
            </div>
          </ion-col>
          <ion-col>
            <div
              style="
                font-size: 20px;
                color: white;
                font-weight: bold;
                text-align: center;
              "
            >
              <p>Pratik_Arawat</p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div
              style="
                color: #ffff6a;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
              "
            >
              <p>Today's Credits</p>
            </div>
          </ion-col>
          <ion-col>
            <div
              style="
                font-size: 20px;
                color: #ffff6a;
                font-weight: bold;
                text-align: center;
              "
            >
              <p>32</p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div style="font-size: 18px; font-weight: bold; text-align: center">
              <p>Push Ups</p>
            </div>
          </ion-col>
          <ion-col>
            <div style="font-size: 18px; font-weight: bold; text-align: center">
              <p>30</p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div style="font-size: 18px; font-weight: bold; text-align: center">
              <p>Bench Press</p>
            </div>
          </ion-col>
          <ion-col>
            <div style="font-size: 18px; font-weight: bold; text-align: center">
              <p>30</p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div style="font-size: 18px; font-weight: bold; text-align: center">
              <p>Tricep Dips</p>
            </div>
          </ion-col>
          <ion-col>
            <div style="font-size: 18px; font-weight: bold; text-align: center">
              <p>40</p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div style="font-size: 18px; font-weight: bold; text-align: center">
              <p>Lunges</p>
            </div>
          </ion-col>
          <ion-col>
            <div style="font-size: 18px; font-weight: bold; text-align: center">
              <p>40</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <div>
    <ion-card>
      <ion-grid>
        <ion-row style="margin-top: 10px">
          <ion-col>
            <div style="text-align: center">
              <img
                style="height: 80px; width: 80px; border-radius: 50%"
                src="assets/img/001.png"
              />
            </div>
          </ion-col>
          <ion-col>
            <div
              style="
                font-size: 20px;
                color: white;
                font-weight: bold;
                text-align: center;
              "
            >
              <p>Pratik_Arawat</p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div
              style="
                color: #ffff6a;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
              "
            >
              <p>Today's Credits</p>
            </div>
          </ion-col>
          <ion-col>
            <div
              style="
                font-size: 20px;
                color: #ffff6a;
                font-weight: bold;
                text-align: center;
              "
            >
              <p>32</p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div style="font-size: 18px; font-weight: bold; text-align: center">
              <p>Push Ups</p>
            </div>
          </ion-col>
          <ion-col>
            <div style="font-size: 18px; font-weight: bold; text-align: center">
              <p>30</p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div style="font-size: 18px; font-weight: bold; text-align: center">
              <p>Bench Press</p>
            </div>
          </ion-col>
          <ion-col>
            <div style="font-size: 18px; font-weight: bold; text-align: center">
              <p>30</p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div style="font-size: 18px; font-weight: bold; text-align: center">
              <p>Tricep Dips</p>
            </div>
          </ion-col>
          <ion-col>
            <div style="font-size: 18px; font-weight: bold; text-align: center">
              <p>40</p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div style="font-size: 18px; font-weight: bold; text-align: center">
              <p>Lunges</p>
            </div>
          </ion-col>
          <ion-col>
            <div style="font-size: 18px; font-weight: bold; text-align: center">
              <p>40</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
